/**
 * CSS for styling OSM Wikibase page
 *
 * @file
 * @author Yuri Astrakhan (YuriAstrakhan@gmail.com)
 * @ingroup Extensions
 */

/* Wrap everything with the #mw-content-text to make it more specific.
   This avoids having to add !important in many places */
#mw-content-text {
  .wikibase-entityview-side {
	position: absolute;
	z-index: 100;
	padding: 0;

	.wikibase-pageImage,
	.wikibase-sitelinkgroupview-heading-section,
	.wikibase-sitelinkview-siteid-container {
	  display: none;
	}
  }

  .wikibase-sitelinkgroupview {
	padding: 0;
	margin: 0;
	font-size: 1.8em;
	width: auto;
	border: none;
  }

  .wikibase-sitelinkgrouplistview {
	width: 100%;
  }

}
